<div class="banner-container">
  <% if @articles.any? %>
    <div class="banner-card">
      <%= link_to article_path(@articles.first), class: 'text-decoration-none' do %>
        <div class="banner-image-container">
          <% if @articles.first.image.attached? %>
            <%= image_tag @articles.first.image, class: 'banner-image' %>
          <% else %>
            <p class="banner-no-image">Aucune image disponible</p>
          <% end %>
        <div class="banner-content">
          <div class="banner-title-date">
            <h5 class="banner-title"><%= @articles.first.title %></h5>
            <span class="banner-date"> <%= @articles.first.created_at.strftime("%d/%m/%Y") %></span>
          </div>

          <p class="banner-text"><%= truncate(@articles.first.content, length: 150) %></p>
        </div>
      <% end %>
    </div>
             <!-- Tags en haut à gauche -->
          <div class="banner-tags">
            <% @articles.first.tags.limit(2).each do |tag| %>
              <%= link_to tag.name, tag_path(tag), class: 'btn btn-outline-dark tag-btn btn-sm' %><%= " " unless tag == @articles.first.tags.limit(2).last %>
            <% end %>
          </div>
        </div>
  <% end %>
</div>
