<div class="container mt-4">
  <div class="row">
    <!-- Bannière du premier article sous forme de carte -->
    <% if @articles.any? %>
      <div class="col-12 mb-4">
        <%= link_to article_path(@articles.first), class: 'text-decoration-none' do %>
          <div class="card h-100 hover-card">
            <!-- Image du premier article -->
            <% if @articles.first.image.attached? %>
              <%= image_tag @articles.first.image, class: 'card-img-top' %>
            <% else %>
              <p>Aucune image disponible</p>
            <% end %>

            <!-- Contenu de la carte -->
            <div class="card-body">
              <%= image_tag "logoNom.png", alt: "Logo", class: "banner-logo me-2" %>
              <h5 class="card-title"><%= @articles.first.title %></h5>
              <p class="card-text"><%= truncate(@articles.first.content, length: 150) %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <!-- Barre de séparation avec "Derniers articles" -->
    <div class="separator mt-4 mb-4">
      <span class="separator-text">Derniers articles</span>
    </div>

    <!-- Boucle pour les autres cartes, affichées en 3 colonnes sur grand écran -->
    <div class="row">
      <% @articles.drop(1).each do |article| %>
        <div class="col-lg-4 col-md-6 col-12 mb-4">
          <%= link_to article_path(article), class: 'text-decoration-none' do %>
            <div class="card h-100 hover-card">
              <% if article.image.attached? %>
                <%= image_tag article.image, class: 'card-img-top card-img-fixed' %> <!-- Ajout de card-img-fixed -->
              <% else %>
                <p>Aucune image disponible</p>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= article.title %></h5>
                <p class="card-text"><%= truncate(article.content, length: 100) %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>
