<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-12 mb-4">
      <% if @article.image.attached? %>
        <%= image_tag @article.image, class: "article-card-img custom-rounded-top" %>
      <% else %>
        <p>Aucune image disponible</p>
      <% end %>
      <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
          <div class="card-meta text-muted">
            <% tags = @article.tags.limit(2).map(&:name).join(", ") %>
            <span><%= tags %> • <%= @article.created_at.strftime("%d/%m/%Y") %></span>
          </div>
        </div>
        <h1 class="card-title mb-3"><%= @article.title %></h1>
        <p class="card-text text-muted mb-4"><%= @article.content %></p>
      </div>
    </div>
  </div>
</div>

<!-- Section des commentaires -->
<div class="container mt-5">
  <div class="card">
  <h3>Commentaires</h3>

  <% if @article.comments.any? %>
    <ul class="list-group">
      <% @article.comments.each do |comment| %>
        <li class="list-group-item text-dark"> <!-- Ajout de `text-dark` pour le noir -->
          <strong>Posté le :</strong> <%= comment.created_at.strftime('%d/%m/%Y à %H:%M') %><br>
          <span class="comment-content"><%= comment.content %></span> <!-- Classe ajoutée -->
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="text-muted">Aucun commentaire pour cet article.</p>
  <% end %>
</div>

<!-- Formulaire d'ajout de commentaire -->
<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h3>Ajouter un commentaire</h3>
      <%= form_with model: [@article, Comment.new], local: true do |form| %>
        <div class="mb-3">
          <%= form.label :content, "Votre commentaire", class: "form-label" %>
          <%= form.text_area :content, rows: 4, class: "form-control" %>
        </div>
        <div class="d-grid gap-2">
          <%= form.submit "Envoyer", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

