<div class="navbar custom-navbar d-flex justify-content-between align-items-center">
  <!-- Logo -->
  <div class="navbar-logo">
    <%= link_to articles_path, class: "navbar-brand d-block" do %>
      <%= image_tag("logoNom.png", class: "navbar-logo") %>
    <% end %>
  </div>

  <!-- Menu de navigation -->
    <div class="navbar-buttons text-center">
      <ul class="navbar-nav d-flex justify-content-center">
      <% if user_signed_in? %>
        <!-- Lien Mon profil -->
        <li class="nav-item">
           <%= link_to "Profil #{current_user.name}", edit_user_registration_path, class: 'nav-link' %>
        </li>

        <!-- Lien vers le dashboard si admin -->
        <% if current_user.admin? %>
          <li class="nav-item">
            <%= link_to 'Dashboard', admin_dashboard_path, class: 'nav-link' %>
          </li>
        <% end %>

         <!-- Lien de déconnexion -->
          <%= form_with url: destroy_user_session_path, method: :delete, data: { turbo: false }, class: "nav-item" do %>
            <%= submit_tag "Déconnexion", class: "nav-link" %>
          <% end %>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Se connecter', new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Se connecter", new_user_session_path, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

</div>
