<div class="navbar custom-navbar sticky-top bg-light d-flex justify-content-between align-items-center">
  <!-- Logo -->
  <div class="navbar-logo">
    <%= link_to articles_path, class: "navbar-brand " do %>
      <%= image_tag("logoNom.png", class: "navbar-logo") %>
    <% end %>
  </div>

  <!-- Menu de navigation -->
  <div class="navbar text-center">
    <ul class="navbar-nav d-flex justify-content-center">

      <!-- Dropdown "Rubriques" -->
      <li class="nav-item dropdown rubriques-dropdown">
        <a class="nav-link" href="#" id="rubriquesDropdown" data-bs-toggle="dropdown" aria-expanded="true">
          Rubriques
        </a>
        <ul class="dropdown-menu " aria-labelledby="rubriquesDropdown">
          <% Tag.where(id: [59, 60, 61, 62, 43]).each do |tag| %>
            <li><%= link_to tag.name, tag_path(tag), class: "dropdown-item" %></li>
          <% end %>
        </ul>
      </li>

      <!-- Autres éléments du menu -->
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Profil #{current_user.name}", edit_user_registration_path, class: 'nav-link' %>
        </li>
        <% if current_user.admin? %>
          <li class="nav-item">
            <%= link_to 'Dashboard', admin_dashboard_path, class: 'nav-link' %>
          </li>
        <% end %>
        <%= form_with url: destroy_user_session_path, method: :delete, data: { turbo: false }, class: "nav-item" do %>
          <%= submit_tag "Déconnexion", class: "nav-link" %>
        <% end %>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Se connecter', new_user_session_path, class: 'nav-link' %>
        </li>
      <% end %>

    </ul>
  </div>
</div>
