<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-large">
  <div class="container-fluid">
    <%= link_to articles_path, class: "navbar-brand" do %>
      <%= image_tag("logo.png", class: "navbar-logo") %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li><%= link_to 'Dashboard', admin_dashboard_path, class: 'nav-link' %></li>
          <% end %>

          <!-- Lien de déconnexion -->
          <%= form_with url: destroy_user_session_path, method: :delete, data: { turbo: false } do %>
          <%= submit_tag "Déconnexion", class: "nav-link" %>
          <% end %>

        <% else %>
          <!-- Lien de connexion -->
          <li class="nav-item">
            <%= link_to 'Se connecter', new_user_session_path, class: 'nav-link' %>
          </li>
          <li class="nav-item dropdown">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Se connecter", new_user_session_path, class: "dropdown-item" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
