<div class="tag-show">
  <h1>Articles pour le tag : <%= @tag.name %></h1>
  <div class="articles-list">
    <% @articles.each do |article| %>
      <div class="article-card">
        <%= link_to article_path(article), class: 'article-link' do %>
          <div class="article-card-content">
            <%= image_tag article.image.attached? ? article.image : 'default_image.jpg', class: 'article-image' %>
            <h2 class="article-title"><%= article.title %></h2>
            <p class="article-excerpt"><%= truncate(article.content, length: 150) %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
