<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>DefBlog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Lien vers les styles -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- Importation de l'importmap et des scripts -->
    <%= javascript_importmap_tags %>

    <!-- Ajout d'un script externe pour la gestion des modules JavaScript -->
    <script src="https://unpkg.com/es-module-shims@1.4.1/dist/es-module-shims.js" async></script>

  </head>

  <body>
    <!-- Navigation -->
    <%= render "shared/navbar" %>

    <!-- Flash messages (si existants) -->
    <%= render "shared/flashes" %>

    <!-- Contenu principal de la page -->
    <%= yield %>
  </body>
</html>
